<div class="row-fluid">
  <div class="jumbotron" style="background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://images.unsplash.com/photo-1456324504439-367cee3b3c32?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80); background-position: 35% 35%;">
    <div style="height: 300px;" class="align-items-middle">
      <h1 class="display-3 text-center" style="color:white">Bienvenue sur ToDoGist</h1><br>
        <p class="lead text-center" style="color:white">L'application où on y retient l'essentiel</p>
      </div>
    </div>
  </div>
