<div class="row-fluid">
  <div class="jumbotron" style="background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://images.pexels.com/photos/1591062/pexels-photo-1591062.jpeg?auto=compress&cs=tinysrgb&h=650&w=940); background-position: 35% 35%; background-size: 100%;">
    <div style="height: 300px;">
      <h1 class="display-3 text-center" style="color:white">Bienvenue sur YouveGotMail</h1><br>
        <p class="lead text-center" style="color:white">Vas voir les petits messages qu'on t'a laissé...</p>
      </div>
    </div>
  </div>
