<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <%= link_to "Lollip'App", root_path, class: "navbar-brand" %>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <%= link_to "ToDoGist", tasks_path, class: "nav-link", style: "color:#5680CA" %>
      </li>
      <li class="nav-item">
        <%= link_to "YouveGotMail", emails_path, class: "nav-link", style: "color:#5680CA" %>
      </li>

    </ul>
        <img class="rounded-circle" height="50px" width="50px" src="https://i.etsystatic.com/20732132/r/il/38646f/2050716350/il_794xN.2050716350_saap.jpg">
  </div>
</nav>
